sap.ui.jsview("{{rightpane.parameters.name.value}}.view.Pane", {

	/** Specifies the Controller belonging to this View. 
	 * In the case that it is not implemented, or that "null" is returned, this View does not have a Controller.
	 * @memberOf view.ChatView
	 */
	getControllerName: function() {
		return "{{rightpane.parameters.name.value}}.view.Pane";
	},

	/** Is initially called once after the Controller has been instantiated. It is the place where the UI is constructed. 
	 * Since the Controller is given to this method, its event handlers can be attached right away.
	 * @memberOf view.ChatView
	 */
	createContent: function(oController) {

		var oButton = new sap.ui.commons.Button({
			text: "Hello World"	
		});
		
		return oButton;

	}
});